<h2>My weapons</h2>




<div class="filters">
  <span> filter by : </span>

  <button (click)="filterBy('attack'); selectedProperty = 'attack'"> Attack </button>
  <button (click)="filterBy('dodge'); selectedProperty = 'dodge'"> Dodge </button>
  <button (click)="filterBy('dammage'); selectedProperty = 'dammage'"> Dammage </button>
  <button (click)="filterBy('healPoint'); selectedProperty = 'healPoint'"> Heal Points </button>


</div>



<ul class="weapons">
  <li *ngFor="let weapon of weapons; let i = index" [attr.data-index]="i"
  routerLink="/weapon-detail/{{weapon.id}}">
      <span class="badge">{{i+1}}</span> {{weapon.name}}
  </li>


  
</ul>